<div>
  <mat-form-field>
    <mat-label>Coins</mat-label>
    <mat-select [formControl]="coinControl" multiple>
      <mat-select-trigger>
        {{coinControl.value ? coinControl.value[0] : ''}}
        <span *ngIf="coinControl.value?.length > 1" class="example-additional-selection">
          (+{{coinControl.value.length - 1}} {{coinControl.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of coins" [value]="item.coinAkronim" (click)="addCoins(item.coinAkronim)">
        {{item.coinName}}({{item.coinAkronim}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <ul>
    <li *ngFor="let item of selectedCoins">
      {{item}}
    </li>
  </ul>
</div>

<button (click)="removeList()">Reset</button>
<button (click)="initialiseTableData()">Display Value</button>


<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-table #table [dataSource]="dataSource" class="example-table" matSort matSortActive="created" matSortDisableClear
    matSortDirection="asc">

    <ng-container matColumnDef="cryptocurrency">
      <mat-header-cell *matHeaderCellDef>Cryptocurrency</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef>Currency</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.currency }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.value }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30">
  </mat-paginator>
</div>